body {
  margin: 0;
}

.label {
  font-size: 48px;
  color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 10%;
  transition: 500ms ease;
}
