body {
  margin: 0;
}

#time {
  text-align: center;
}

#rscale, #tscale {
    width: 49%;
    text-align: center;
    margin-top: 4px;
    display: inline-block;
}

.row {
  position: absolute;
  color: white;
  transform: translateX(calc(50vw - 50%));
  display: inline-block;
}
